<section id="about_cryptonic_02" style="padding: 100px 0 0 !important;">
    <div class="container">
        <hr class = "one">
        
            <div class="row about_2_item">
                    <div class="col-sm-12 col-md-5 col-lg-7">
                        <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-2-02.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                        <div class="about_cryptonic-content">
                                <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">What the fuck EZBOT?</h2>
                                <hr class = "one">
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">BOT</p>
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">Impossible</p>
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">EZbot-BitMEX</p>
                        </div>
                    </div>
                </div>
        
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">What the fuck EZBOT?</h2>
                    <hr class = "one">
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">What the fuck EZBOT</p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">operate</p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">EZbot</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-2-01.png" alt="">
                </div>
            </div>
        </div>

    

        <div class="row about_2_item">
                <div class="col-sm-12 col-md-5 col-lg-7">
                    <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-5-01.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                    <div class="about_cryptonic-content">
                        <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">EZbot-BitMEX?</h2>
                        <hr class = "one">
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">0.03% ~ 0.1%.</p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">a</p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">b</p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">BackTest</p>
        
                    </div>
                </div>
            </div>



            <hr class = "one">

    </div>
</section>  <!-- End about_cryptonic -->