
<footer id="footer-02" class="footer">
    <div class="container">
        <div class="row footer-btm-wrapper">
            <div class="col-md-12 col-lg-12">
                <div class="footer_items">
                    
                    <div class="footer-single-col footer_single_list_1">
                        <h3 class="subtitle_1">&nbsp;<img src="images/logo.png" alt=""></h3>
                        <p>Channel you know. </br>Kakaotalk</br>email</p>
                    </div>

                    <div class="footer-single-col footer_single_list_2">
                        <h3 class="subtitle_1">Kakaotalk</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://open.kakao.com/o/g8WJP1Hb">Open chatting</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_3">
                        <h3 class="subtitle_1">Telegram 1:1</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://open.kakao.com/o/g8WJP1Hb">Telegram 1:1 </a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_4">
                        <h3 class="subtitle_1">Email</h3>
                        <ul class="list-unstyled">
                            <li><a href="mailto:ezbitbot@gmail.com">Email : ezbitbot@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; The ezbot24.com site are Cooperate</p>

                   
                </div>
            </div>
        </div>
    </div>
</footer><!-- ./ End Footer Area-->
