<section id="ico_news_02" class="ico_news_02" style="padding-top: 75px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrapepr">
                    <div class="news-title">
                        <div class="sub-title">
                            <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Introduce</h2>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"></p>
                        </div>
                        <!--<a href="" class="more_news  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"><i class="flaticon-right-arrow"></i>More News</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <div class="col-sm-6 col-md-6  col-lg-4 single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="1_intro/" title="">Service</a></h3>
                    <div class="post-date d-flex justify-content-between">
                        <!--<span class="date">18, 10, 2019</span>-->
                    </div>
                    <p>Service. </br></br> Service.</br> </br> Service. </p>
                    <a href="1_intro/" title="">Service</a>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="2_how_to_install/" title="">Installation</a></h3>
                    <div class="post-date d-flex justify-content-between">
                         <!--<span class="date">18, 10, 2019</span>-->
                    </div>
                    <p> Installation. </br></br> Installation.</br></br> Installation </p>
                    <a href="2_how_to_install/" title="">Installation.</a>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="3_document/" title="">Terms</a></h3>
                    

                    <div class="post-date d-flex justify-content-between">
                         <!--<span class="date">18, 10, 2019</span>-->
                         
                    </div>
                    
                    <p> Terms. </br>
                        </br>Terms. </br>
                        </br> Terms
                    </p>

                 
                    <a href="3_document/" title="">Terms.</a>
                   
                    <hr class = "one">
                    
                </div>
            </div>
        </div>
    </div>
</section> <!-- End ico_news -->