<section id="services-02" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    <hr class = "one">
                <div class="sub-title" style="margin: 50px auto 70px;">
                    
                    <h2  class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">이지봇의 장점은 무엇인가요?</h2>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-01.png" alt="">
                    <h3>신경 안써도 된다.</h3>
                    <p>프로그램 매매의 특징입니다.</br> 실행만 시켜 놓으면 신경쓰지 않아도 됩니다.</p>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-03.png" alt="">
                    <h3>기본 옵션 제공</h3>
                    <p>전문적인 지식이 없는 분들도 이용가능합니다. </br> 기본 설정과 시뮬레이션을 제공하여 테스트 할 수 있습니다.</p>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-02.png" alt="">
                    <h3>각자의 입맛에 맞게 조절이 가능하다.</h3>
                    <p>다양한 옵션을 조절 가능합니다.</br> 옵션의 변화로 자신만의 옵션을 사용 가능합니다.</p>
                    <hr class = "one">
                </div>
            </div>
<!---
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-03.png" alt="">
                    <h3>기본 옵션 제공</h3>
                    <p>차트, 선물 트레이딩에 대한 지식이 없는 분들도 사용 가능하도록, 시뮬레이션과 기본 옵션을 제공합니다.</p>
                    <hr class = "one">
                </div>
            </div>
        -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-04.png" alt="">
                    <h3>모바일 연동이 가능하다.</h3>
                    <p>텔레그램을 통해 모바일로 거래 확인이 가능합니다.</br> 추후 시뮬레이션도 모바일로 제공될 예정입니다.</p>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-05.png" alt="">
                    <h3>생각보다 수익률이 좋다.</h3>
                    <p>한번 거래시 거래소의 수수료를 이긴 거래를 합니다. </br> 보유량이 복리로 증가하여, 시간에 따라 이익이 커집지다.</p>
                    <hr class = "one">
                   
                </div>
                
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="single-items  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/service-06.png" alt="">
                    <h3>물타기, 손절등 다양한 조절이 가능하다.</h3>
                    <p>모든 투자는 이익만 볼수는 없습니다.</br> 손절 기능을 추가하여 손실을 줄이도록 설계되었습니다.</p>
                    <hr class = "one">
                </div>
            </div>


        </div>

    </div>
</section>  <!-- End services -->
